<!DOCTYPE html>
<html lang="en">
<title>P M P ไปไม่ไป</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="icon" href="https://image.flaticon.com/icons/png/512/14/14867.png">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-indigo w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>P M P<br>ไปไม่ไป</b></h3>
  </div>
  <div class="w3-bar-block">
    <a href="/" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
    <a href="/Login" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Login</a>
    <a href="/Register" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Register</a>
    <!--<a href="/Travel" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Travel</a>-->
    <a href="/Contact" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contact</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-indigo w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-indigo w3-margin-right" onclick="w3_open()">☰</a>
  <span>P M P ไปไม่ไป</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>P M P ไปไม่ไป</b></h1>
    <h1 class="w3-xxxlarge w3-text-indigo"><b>เว็บไซด์แนะนำสถานที่ท่องเที่ยวในไทย</b></h1>
    <hr style="width:1000px;border:5px solid indigo" class="w3-round">
  </div>

  <!-- Photo grid (modal) -->
  <div class="w3-row-padding">
    <div class="w3-half">
      <img src="https://www.img.in.th/images/9e1ce71ce9927aeb90ca011b24c9f803.jpg" style="width:100%" onclick="onClick(this)" alt="วัดสิรินธรวราราม จังหวัด อุบลราชธานี">
      <img src="https://www.img.in.th/images/aaf2849bdc49233433f20d00c38b951b.jpg" style="width:100%" onclick="onClick(this)" alt="สถานีวิจัยเกษตรที่สูงเชียงใหม่ (ขุนวาง) จังหวัด เชียงใหม่">
      <img src="https://www.img.in.th/images/372b8643211842932eeb443a44c8539e.jpg" style="width:100%" onclick="onClick(this)" alt="วัดรอยพระพุทธบาทภูมโนรมย์ จังหวัด มุกดาหาร">
    </div>

    <div class="w3-half">
      <img src="https://www.img.in.th/images/a366016314c86783f44534ae398c2c4b.jpg" style="width:100%" onclick="onClick(this)" alt="ศูนย์ศึกษาวิจัยและพิพิธภัณฑ์ไดโนเสาร์ภูเวียง จังหวัด ขอนแก่น">
      <img src="https://www.img.in.th/images/08be5e071ccc28e7ba1bd41eb84de69e.jpg" style="width:100%" onclick="onClick(this)" alt="ฟาร์มฮัก Farm Hug จังหวัด สกลนคร">
      <img src="https://www.img.in.th/images/56d16807c79d185dc044bac6f5fb06d8.jpg" style="width:100%" onclick="onClick(this)" alt="เกาะช้าง จังหวัด ตราด">
    </div>
  </div>

  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div>

  <!-- Services -->
  <div class="w3-container" id="services" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-indigo"><b>คำแนะนำ.</b></h1>
    <hr style="width:50px;border:5px solid indigo" class="w3-round">
    <p>เที่ยวที่ไหนไม่สุขใจเท่าบ้านเรา เพราะมีสถานที่ท่องเที่ยวให้เลือกมากมาย ทั้งทะเล ภูเขา น้ำตก วัดวาอาราม  อาหารการกิน
    ถูกปาก  พูดจาภาษาเดียวกัน  แถมประหยัดค่าใช้จ่าย  บางสถานที่สวยงามในระดับที่ว่าไม่ต้องไปให้ไกลถึงเมืองนอก แค่มาเที่ยวในเมืองไทยก็ได้เจอแล้ว ลองเปิดตาเปิดใจให้กว้าง แล้วจะรู้ว่าเมืองไทย
    ยังมีที่แอบซ่อนอยู่มากมาย ที่รอให้เรามาสัมผัส  สำหรับรีวิวนี้ได้คัดเลือกสถานที่ท่องเที่ยวทางธรรมชาติที่
    สวยงามในแต่ละภาคของเมืองไทย รอให้คุณมาสัมผัสซักครั้งในชีวิต
    </p>

    <a href="/Login" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"><U><B>เข้าสู่ระบบเพื่อเข้าถึงข้อมูลสถานที่ท่องเที่ยวมากขึ้น</B></U></a>
  </div>







<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Powered by TETHXeRuS<a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity"TETHXeRuS</a></p></div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>
